header {
	/*border: 1px solid blue;*/
	background-color: white;
	height: 200px;
	background: white url(/image/banniere.png) no-repeat;
}
/*
header a
{
	background: url(/image/epsi.jpg) no-repeat;
	position: relative;
	height: 70px;
	width: 397px;
	display: block;
	margin-left: 350px;
	margin-top: 70px;
	text-indent: -2000px;
}
nav
{
	text-align: center;
}
*/
